--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html

importlib-metadata
absl-py
grpcio
grpcio-reflection
portpicker
numpy
jax
paxml @ git+https://github.com/mariecwhite/paxml@gemma
praxis @ git+https://github.com/mariecwhite/praxis@gemma
seqio
orbax-export
transformers
